<section>
	<header>
		<h1>Need Music?</h1>
		<p>Just search artist by using the input below</p>
	</header>
	<ps-search (queryChange)="onQueryChange($event)" [query]="currentQuery"></ps-search>
	<ng-container *ngIf="!isError(); else error">
		<div class="content">
			<div class="artists">
				<ng-container *ngIf="state?.data?.length; else empty">
					<ng-container *ngFor="let item of state?.data; trackBy: trackById">
						<sp-artist class="artists__item" [model]="item" (click)="showArtistInfo(item)"></sp-artist>
					</ng-container>
				</ng-container>
			</div>
			<div class="loader" *ngIf="isLoading()">
				<sp-loader>
					Loading...
				</sp-loader>
			</div>
		</div>
	</ng-container>
</section>

<ng-template #error>
	<sp-message [message]="state.data"></sp-message>
</ng-template>

<ng-template #empty>
	<div class="empty" *ngIf="state.data">
		<p>Not found</p>
	</div>
</ng-template>