:host {
	.error {
		padding: 20px;
		text-align: center;

		p {
			color: #f00;
			font-weight: bold;
		}
	}

	.loader {
		display: flex;
		padding: 10px;
		justify-content: center;
	}

	.albums {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;

		&__item {
			margin: 0 20px 20px 0;
		}
	}
}