<section>
	<header>
		<h1>Need Music?</h1>
		<p>Just search artist it using the form below</p>
	</header>
	<ps-search (queryChange)="onQueryChange($event)"></ps-search>
	<ng-container *ngIf="!isError(); else error">
		<div class="content" *ngIf="!isLoading(); else loader">
			<div class="artists">
				<ng-container *ngFor="let item of state?.data?.items; trackBy: trackById">
					<sp-artist class="artists__item" [model]="item"></sp-artist>
				</ng-container>
			</div>
		</div>

		<ng-template #loader>
			<div class="loader">
				<sp-loader>
					Loading...
				</sp-loader>
			</div>
		</ng-template>
	</ng-container>
</section>

<ng-template #error>
	<div class="error">
		<p>{{ state.data }}</p>
	</div>
</ng-template>

<ng-template #empty>
	<div class="empty">
		<p>Not found</p>
	</div>
</ng-template>