<ng-container *ngIf="profile$ | async as profile; else replacement">
  <app-user-info [model]="profile"></app-user-info>
</ng-container>
<ng-container *ngIf="repos$ | async as repos">
  <app-repositories [model]="repos"></app-repositories>
</ng-container>

<ng-template #replacement>
  <div class="replace">
    <ng-container *ngIf="error$ | async">
      <p>Ошибка получения данных</p>
      <button (click)="reloadData()">Попробовать снова</button>
    </ng-container>
    <ng-container *ngIf="loading$ | async">
      <p>Загрузка...</p>
    </ng-container>
  </div>
</ng-template>