<div class="box" [loading]="(isLoading$! | async)!">
    <ng-container *ngIf="!isEdit; else editTodo">
        <label class="checkbox" [class.is-storked]="data.isCompleted">
            <input type="checkbox" [formControl]="isCompletedCtrl" />
            {{ data.text }}
        </label>
        <div class="buttons are-small">
            <button class="button is-light" (click)="toggleEdit()">Edit</button>
            <button class="button is-light" (click)="onDelete()">Delete</button>
        </div>
    </ng-container>
</div>
<ng-template #editTodo>
    <app-input [value]="data.text" #input></app-input>
    <div class="buttons are-small">
        <button class="button is-light" (click)="saveEdit(input.todoCtrl.value)" [disabled]="!input.todoCtrl.value?.trim()">Save</button>
        <button class="button is-light" (click)="toggleEdit()">Cancel</button>
    </div>
</ng-template>