:host {
    position: relative;
    display: block;
    margin-bottom: 10px;

    .box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .is-storked {
        text-decoration: line-through;
    }
}