<ng-container *ngIf="!isLoading(); else loading">
	<ng-container *ngIf="!!model; else nodata">
		<div class="artist" >
			<h1 class="artist__name">{{ model.artist.name }}</h1>
			<ng-container *ngIf="model.artistImage; else nophoto">
				<div class="artist__image">
					<img [src]="model.artistImage" [alt]="model.artist.name" />
				</div>
			</ng-container>
			<div class="artist_geners">
				<ul class="genres-list">
					<li class="genres-list__item" *ngFor="let genre of model.artist.genres">
						{{ genre }}
					</li>
				</ul>
			</div>
			<div class="albums">
				<ng-container *ngFor="let album of model.albums.items">
					<sp-album [model]="album" class="albums__item"></sp-album>
				</ng-container>
			</div>
		</div>
	</ng-container>
</ng-container>

<ng-template #loading>
	<div class="loader" >
		<sp-loader>
			Loading...
		</sp-loader>
	</div>
</ng-template>

<ng-template #nodata>
	<div class="nodata">
		<p>Couldn't get any data.</p>
	</div>
</ng-template>

<ng-template #nophoto>
	<div class="empty">
		<mat-icon>face</mat-icon>
	</div>
</ng-template>