<mat-card>
	<mat-card-title>{{model.name}}</mat-card-title>
	<mat-card-content>
		<img mat-card-image class="avatar" [src]="model.avatar_url" />
		<div class="info">
			<mat-chip-list class="activity">
				<mat-chip class="public" color="primary" selected>Repositories: {{ model.public_repos }}</mat-chip>
				<mat-chip class="gists" color="accent" selected>Gists: {{ model.public_gists }}</mat-chip>
				<mat-chip class="followers" color="warn" selected>Followers: {{ model.followers }}</mat-chip>
				<mat-chip class="following">Following: {{ model.following }}</mat-chip>
			</mat-chip-list>
			<div class="personal">
				<div class="personal__item">
					<strong>
						Username:
					</strong>
					{{ model.login }}
				</div>
				<div class="personal__item">
					<strong>
						Location:
					</strong>
					{{ model.location }}
				</div>
				<div class="personal__item">
					<strong>
						Bio:
					</strong>
					{{ model.bio }}
				</div>
				<div class="personal__item">
					<strong>
						Email:
					</strong>
					{{ model.email || '-' }}
				</div>
				<div class="personal__item">
					<strong>
						Member Since:
					</strong>
					{{ model.memberSince }}
				</div>
			</div>
			<br>
			<a [href]="model.html_url" target="_blank" color="primary" mat-stroked-button>View Profile</a>
		</div>
	</mat-card-content>
</mat-card>