<main class="container" [loading]="(isLoading$! | async)!">
    <section class="section">
        <app-add-todo-form (addTodo)="onAddTodo($event)"></app-add-todo-form>
    </section>
    <section class="section">
        <ng-container *ngIf="todos$ | async as todos">
            <ng-container *ngIf="todos.length; else empty">
                <ng-container *ngFor="let todo of todos">
                    <app-todo [data]="todo" (completed)="onCompleted($event, todo)" (delete)="onDelete(todo)" (editText)="onEditText($event, todo)"></app-todo>
                </ng-container>
            </ng-container>
        </ng-container>
    </section>
</main>

<ng-template #empty>
    <p class="empty-message" data-test-empty-message>Add Your ToDo</p>
</ng-template>